
@{
    ViewBag.Title = "ErrorCompra";
}
<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <div class="row" style="padding-left:10px;padding-right:10px">
                        <div class="pull-right"><a href="@Url.Action("ActualizarDatos","Clientes")" class="btn btn-primary">Actualizar Mis Datos</a></div>
                    </div>
                </div>
                @*<div class="panel-body">
                        <p>En esta pantalla aparecen las cuotas pagadas y cuotas pendientes, las cuales podra pagar</p>
                    </div>*@

                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-danger" role="alert">@ViewBag.MensajeError</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>