
@{
    ViewBag.Title = "DebitarCuotas";
}

<!--BEGIN TITLE & BREADCRUMB PAGE-->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">
            Sueño Celeste
        </div>
    </div>
    <ol class="breadcrumb page-breadcrumb pull-right">
        <li><i class="fa fa-home"></i>&nbsp;<a href="@Url.Action("Index","Home")">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="hidden"><a href="#"></a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">Principal</li>
    </ol>
    <div class="clearfix">
    </div>
</div>

<br />


<!--BEGIN CONTENT-->
<div class="page-content">
    <div id="tab-general">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="text-center">Solicutudes de debito enviadas correctamente</h3>
                </div>
                <div class="panel-footer">
                    <div class="text-center">
                        <a class="btn btn-primary" href="@Url.Action("Index")">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>