
@{
    ViewBag.Title = "EnvioCorreoAvisoDeuda";
}

<h2>Enviando Correos de Aviso de Deuda</h2>

<!-- Change the below data attribute to play -->
<div class="progress-wrap progress" data-progress-percent="25">
    <div id="ProgressBarAvisoDeuda" class="progress-bar progress"></div>
</div>

