
@{
    ViewBag.Title = "Registro Del Telefono";
}

<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Bienvenido</h3>
            <div class="card-text">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        <label for="Dni">DNI<small>(Solo numeros, sin puntos o guiones)</small></label>
                        <input type="number" class="form-control" name="Dni" id="Dni" value="@ViewBag.Dni" readonly>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="Area">Telefono<small>(Solo numeros, sin puntos o guiones)</small></label>
                        </div>
                        <div class="col-sm-4" style="padding:0px;">
                            <label for="Area">Area<small>(Solo numeros, sin puntos o guiones y sin el 0)</small></label>
                            <input type="number" class="form-control" name="Prefijo" id="Prefijo" placeholder="Prefijo">
                        </div>
                        <div class="col-sm-8" style="padding:0px;">
                            <label for="Numero">Numero<small>(Solo numeros, sin puntos o guiones y sin el 15)</small></label>
                            <input type="number" class="form-control" name="Numero" id="Numero" placeholder="Numero">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Siguiente</button>
                }
            </div>
        </div>
    </div>
</div>